<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <shopgate_webcheckout>
            <general>
                <custom_css><![CDATA[]]></custom_css>
            </general>
            <development>
                <enable_logging>0</enable_logging>
            </development>
        </shopgate_webcheckout>
    </default>
</config>
