<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Shopgate\WebCheckout\Api\TokenInterface" type="Shopgate\WebCheckout\Model\Api\Token"/>
    <preference for="Shopgate\WebCheckout\Api\TokenResultInterface" type="Shopgate\WebCheckout\Model\Api\TokenResult"/>
    <preference for="Shopgate\WebCheckout\Api\LogReaderInterface" type="Shopgate\WebCheckout\Model\Api\LogReader"/>
    <preference for="Shopgate\WebCheckout\Api\ProductInterface" type="Shopgate\WebCheckout\Model\Api\Product"/>
    <preference for="Shopgate\WebCheckout\Api\ProductInstanceInterface"
                type="Shopgate\WebCheckout\Model\Api\ProductInstance"/>
    <preference for="Shopgate\WebCheckout\Api\ShopgateWebCheckoutOrderRepositoryInterface"
                type="Shopgate\WebCheckout\Model\ShopgateWebCheckoutOrderRepository"/>
    <preference for="Shopgate\WebCheckout\Api\ShopgateCookieManagementInterface"
                type="Shopgate\WebCheckout\Model\ShopgateCookieManagement"/>

    <virtualType name="Shopgate\WebCheckout\Logger\DebugHandler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/shopgate/webcheckout_debug.log</argument>
        </arguments>
    </virtualType>
    <type name="Shopgate\WebCheckout\Model\Api\LogReader">
        <arguments>
            <argument name="logFilePath" xsi:type="string">/var/log/shopgate/webcheckout_debug.log</argument>
        </arguments>
    </type>
    <type name="Shopgate\WebCheckout\Services\Logger">
        <arguments>
            <argument name="name" xsi:type="string">shopgate_webc</argument>
            <argument name="handlers" xsi:type="array">
                <!--suppress InvalidDiTypeInspection -->
                <item name="webc_log" xsi:type="object">Shopgate\WebCheckout\Logger\DebugHandler</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\JwtUserToken\Api\ConfigReaderInterface">
        <plugin name="sg_webc_token_time_extend" type="Shopgate\WebCheckout\Model\TokenTtlPlugin" sortOrder="50"/>
    </type>
    <type name="Shopgate\WebCheckout\Model\Api\Product">
        <arguments>
            <argument name="logger" xsi:type="object">Shopgate\WebCheckout\Services\Logger</argument>
        </arguments>
    </type>
</config>
