<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_submit_all_after">
        <observer name="shopgate_webcheckout_quote_submitted" instance="Shopgate\WebCheckout\Observer\SaveWebcheckoutOrder" />
    </event>
    <event name="salesrule_rule_condition_combine">
        <observer name="shopgate_webcheckout_salesrule_condition" instance="Shopgate\WebCheckout\Observer\AddWebCheckoutOnlySalesRuleCondition" />
    </event>
</config>
