<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="shopgate" sortOrder="1">
            <label>Shopgate</label>
        </tab>
        <section id="shopgate_webcheckout" translate="label" sortOrder="1000" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Web Checkout Configuration</label>
            <tab>shopgate</tab>
            <resource>Shopgate_WebCheckout::general_configuration</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Basic Configuration</label>
                <field id="custom_css" type="textarea" translate="label comment" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Custom CSS</label>
                    <comment>Please validate CSS beforehand, this can break your theme styles.</comment>
                </field>
            </group>
            <group id="development" translate="label" sortOrder="50" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Development</label>
                <field id="enable_logging" translate="label" type="select" sortOrder="20" showInDefault="1"
                       showInWebsite="1" canRestore="1">
                    <label>Enable Debug Logging</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
