<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="sg_webcheckout_main" frontName="sgwebcheckout">
            <module name="Shopgate_WebCheckout" />
        </route>
    </router>
</config>
